# PostgreSQL
export DB_HOST=localhost
export DB_PORT=5432
export DB_USERNAME=postgres
export DB_PASSWORD=postgres

# Redis
export REDIS_URL=redis://localhost:6379/0

# Rails
export RAILS_ENV=development
export RAILS_MAX_THREADS=5
