<section id="report_form" class="bg-white shadow-sm p-6 border border-slate-200/60 rounded-2xl ring-1 ring-slate-900/5">
  <h2 class="mb-4 font-medium text-slate-500 text-sm uppercase tracking-wider">Generate report</h2>
  <%= render "reports/form", report: report, users: users %>
</section>
