<tr id="reports_empty_row">
  <td colspan="5" class="px-6 py-16 text-center">
    <div class="flex justify-center items-center bg-slate-100 mx-auto rounded-full w-12 h-12 text-slate-400">
      <%= icon "document-text", library: "heroicons", variant: "outline", stroke_width: 1.5, class: "w-6 h-6" %>
    </div>
    <h3 class="mt-4 font-medium text-slate-900 text-sm">No reports yet</h3>
    <p class="mt-1 text-slate-500 text-sm">Generate your first report using the form above.</p>
  </td>
</tr>
